@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-transform: capitalize;
}
body {
    display: flex;
    height: 100vh;
}
.container {
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.newsletter {
    display: flex;
    width: 100%;
    position: relative;
    top: 60px;
    max-width: 1000px;
    margin: auto;
    background: #303035;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-radius: 10px;
}
.newsletter-left h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.5;
    letter-spacing: 1px;
}
.newsletter-left h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.newsletter-right {
    width: 500px;
}
.newsletter-input {
    background: #fff;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.newsletter-input input {
    border: none;
    outline: none;
    background: transparent;
    width: 80%;
    padding-left: 10px;
    font-weight: 600;
}
.newsletter-input button {
    background: #201e1e;
    padding: 9px 15px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.newsletter-input button:hover {
    background: #3a3939;
}
.footer-content {
    background: #000;
    padding: 100px 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-main {
    margin: 10px 20px;
    width: 400px;
}
.footer-main h2 {
    color: #fff;
    font-size: 1.6rem;
}
.footer-main p {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
.social-link {
    margin: 15px 0;
    display: flex;
    gap: 8px;
}
.social-link a {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: .3s;
    height: 40px;
    background: #dbd8e3;
}
.social-link a:hover {
    opacity: 0.7;
}
.social-link a i {
    font-size: 1.1rem;
    color: #201e1e;
}
.links {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 40px 20px;
}
.links p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #fff;
}
.links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
    color: #dbd8e3;
    transition: .3s all;
}
.links a:hover {
    opacity: 0.5;
}
@media (max-width:1000px) {
    .newsletter {
        border-radius: 0px;
    }
}
@media (max-width:800px) {
    .newsletter {
        flex-direction: column;
    }
    .newsletter-left {
        margin-bottom: 10px;
    }
    .newsletter-right {
        width: 90%;
    }
}